// colors
$white: #ffffff;
$gray: #adadad;
$black: #404040;

$primary: #333333;
$primary-dark:#0c0c0c;
$primary-light: #5c5c5c;

$secondary: #19A6CF;
$secondary-dark: #00779e;
$secondary-light: #65d8ff;

$background: #f5f5f6;
$background-code: #f6f8fa;
