$phone: 576px;
$phone-container-width: 540px;

$tablet: 768px;
$tablet-container-width: 720px;

$medium: 992px; // small laptops or portrait tablets.
$medium-container-width: 960px;

$large: 1200px;
$large-container-width: 1140px;