@import 'colors';

.progress-bar {
    position: fixed;
    top: $nav-height;
    left: 0;
    height: .5rem;
    background-color: $secondary;
    min-width: 0%;
    transition: min-width 0.5s linear;

    &.done {
        opacity: 0;
        transition: opacity .3s .5s ease-in;
    }
}

.content {
    transition: visibility 1s 0s linear;
}