@import 'colors';
@import 'screens';
@import 'nav';
@import 'footer';
@import 'progress';
@import 'fonts';

* {
  box-sizing: border-box;
}

html {
  // Makes 0.1rem be equal to 1px
  font-size: 10px;
}

body {
  margin: 0;
  outline: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $background;

  color: $black;
  @extend %bodyFont;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-light;
  }
}

hr {
  // dividers
  margin: 5rem auto;
  background-color: $secondary-dark;
  border-radius: .3rem;
}

pre {
  padding: 1.6rem;
  overflow: auto;
  background-color: $background-code;
  border: 0.1rem solid $gray;
  border-radius: .3rem;
  @extend %codeFont;
}

.content {
  min-height: calc(100vh - #{$nav-height});
  padding: 10rem 4rem;
  margin: auto;
  max-width: $large-container-width;

  @media (max-width: $medium) {
    max-width: $medium-container-width;
  }
  @media (max-width: $tablet) {
    max-width: $tablet-container-width;
  }
  @media (max-width: $phone) {
    max-width: $phone-container-width;
  }
}

.section:not(:first-child) {
  padding-top: 10rem;
}

.text-center {
  text-align: center;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .column {
    flex: 1;
    padding: 1.5rem;
    min-width: 25rem;
    max-width: 50%;

    @media (max-width: $phone) {
      min-width: 100%
    }
  }
}

