@import "../style/colors";

.timeline {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: auto;

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;

    .line-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: $white;
        background-color: $secondary-dark;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        font-size: smaller;
        font-weight: bold;
      }

      .line {
        border-left: 2px solid $primary;
        height: 100%;
        min-height: 4rem;
      }
    }

    .text-part {
      width: 80%;
      padding-top: 1.3rem;
      padding-bottom: 4rem;
      margin-left: 6rem;
    }
  }
}

.project {
  padding: 5rem 0;

  &:first-of-type {
    padding-top: 0;
  }
}

.show-only-on-print {
  display: none;
}

@media print {
  body {
    background: $white;

    header {
      display: none;
    }

    main {
      padding: 0;

      article {
        padding-top: 0;
        padding-bottom: 0;

        .show-only-on-print {
          padding-top: 4rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          > img {
            height: 6rem;
          }
          > .contact-info {
            display: flex;
            flex-direction: column;
          }
        }

        section {
          break-after: page;

          &.usp-section {
            display: none;
          }

          .hide-on-print {
            display: none;
          }

          p {
            break-inside: avoid-page;
          }

          > .project {
            padding: 0;
            break-after: page;
          }

          .timeline {
            .row {
              break-inside: avoid;

              .line-part {
                .date {
                  background: transparent;
                  color: $secondary;
                }
              }
            }
          }
        }
      }
    }

    footer {
      display: none;
    }
  }
}
