@import "../style/colors";
@import "../style/header-height";

.hero {
  height: calc(100vh - #{$header-height});

  > .background-image {
    height: inherit;
    width: 100%;
  }

  > .overlay {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $white;
  }
}
