// colors
$white: #fff;
$gray: #777;
$gray-light: #ddd; // for text on dark background
$gray-dark: #404040; // for text on light background
$gray-transparent: rgba(0, 0, 0, 0.3); // for boxshadow

$primary: #3d3d3d;
$primary-dark: #1e1e1e;
$primary-light: #676767;

$secondary: #e84c3d;
$secondary-dark: #af0b14;
$secondary-light: #ff7f69;

$background: #f5f5f6;

.color-primary {
  color: $primary;
}

.color-secondary {
  color: $secondary;
}
