@import "../style/colors";
@import "../style/screens";
@import "../style/header-height";

header {
  background-color: $primary;
  box-shadow: 0 0.2rem 0.1rem 0 $gray-transparent;

  nav {
    height: 100%;
    width: 100%;

    .bar,
    input[type="checkbox"] {
      display: none;
    }

    .nav-menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

@media (max-width: $tablet) {
  header {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      > .bar {
        display: block;
        position: relative;
        width: 2.9rem;
        height: 0.4rem;
        margin-bottom: 0.5rem;
        background-color: $secondary;
        border-radius: 0.3rem;
        z-index: 1;

        transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
          opacity 0.33s ease;

        &.first {
          transform-origin: 0% 0%;
        }

        &.third {
          transform-origin: 0% 100%;
        }
      }

      > input[type="checkbox"] {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 8rem; // big hit box
        cursor: pointer;
        margin: 0; // override checkbox default
        opacity: 0; // hide it
        z-index: 2; // and place it over the hamburger

        &:checked {
          // Expand the menu
          ~ .nav-menu {
            transform: translate(-100%, 0);
          }

          // Transform all the slices of hamburger
          // into an X.
          ~ .bar.first {
            transform: rotate(45deg) translate(-0.2rem, -0.1rem);
          }

          // But let's hide the middle one.
          ~ .bar.second {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }

          // Ohyeah and the last one should go the other direction
          ~ .bar.third {
            transform: rotate(-45deg) translate(0, -0.1rem);
          }
        }
      }

      > .nav-menu {
        position: absolute;
        top: 0;
        right: -32rem; // width + box-shadow
        width: 30rem;
        height: 100vh;
        padding: 0 5rem;
        margin-top: $header-height;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        background: $primary;
        box-shadow: -0.2rem 0 0.1rem 0 $gray-transparent;

        /* to stop flickering of text in safari */
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        > li {
          width: 100%;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}
