@import "../style/header-height";

header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  z-index: 1000;
  padding: 0 2rem;
}

main {
  padding-top: $header-height;
}

footer {
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
}
