---
type Props = {
  items: string[];
  class?: string;
}

const { items, class: cls } = Astro.props;
if (!items.length) return;
---

<ul class:list={["my-3 flex flex-wrap gap-2", cls]}>
  {items.map((item) => (
    <li class="rounded px-2 py-1 text-xs border dark:border-primary-dark border-primary-light" >{item}</li>
  ))}
</ul>