<div class="contact">
    <a class="dark-bg" href="https://github.com/a-game" target="blank">
        <svg class="icon-github-square">
            <use xlink:href="../assets/img/icons.svg#icon-github-square"></use>
        </svg>
    </a>
    <a class="dark-bg" href="https://github.com/a-game" target="blank">
        <svg class="icon-linkedin-square">
            <use xlink:href="../assets/img/icons.svg#icon-linkedin-square"></use>
        </svg>
    </a>
    <a class="dark-bg" href="mailto:me@ahmadgame.com" target="blank">
        <svg class="icon-envelope">
            <use xlink:href="../assets/img/icons.svg#icon-envelope"></use>
        </svg>
    </a>
</div>