<!DOCTYPE html>
<html>

<head>
  <%= require('html-loader!../partials/ga.html') %>
  <meta charset="utf-8">
  <meta name="description" content="Ahmad Game's personal website">
  <meta name="keywords" content="ahmad, game, resume, description, about, blog">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Ahmad Game - Bio</title>
</head>

<body id="page-top">
  <%= require('html-loader!../partials/nav.html') %>
  <%= require('html-loader!../partials/progress.html') %>
  <%= require('html-loader!../partials/scrolltop.html') %>

  <div class="content">

    <section id="profile" class="section">
      <div class="container">
        <div class="flex-grid">
          <div class="column picture-column">
            <img class="picture" src="../assets/img/Game.png" alt="profile picture" />
          </div>
          <div class="column">
            <h2 class="column-header">Hi, My Name is Ahmad Game</h2>
            <p class="column-text">
              I'm a <span id="age"></span> year old dude living Malmö, Sweden.
            </p>
            <p>
              Growing up I wanted to be super hero, unfortunately I quickly found out that
              lacking any kind of superpower (unless you count my amazing ability to injure myself doing any type of training)
              I had to settle for another career. After a few twists turns I ended up in software.
            </p>
            <p>
              I'm not gonna lie to you and brag that I'm an expert in this or that.
              The fact of the matter is that I'm a jack of all trades. I've done a bit of everything,
              both when it comes to code stacks and job positions.
            </p>
            <p>
              When I'm not working, I like to run, make and eat burgers and listen to audio books.
              I've tried doing all of it at the same time, but it got messy. (2/5 would not recommend)
            </p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- This is a "hack" for nesting partials
  https://stackoverflow.com/questions/49168671/webpack-include-html-partial-inside-another-partial
  -->
  <%= require('html-loader?root=.&minimize=true&interpolate=require!../partials/footer.html') %>
</body>

</html>